.right-side-menu {
  padding: 5px 0px;
  width: 30%;
  height: 50vh;
}
.right-menu-item {
  background-color: white;
  padding: 15px 10px;
  box-shadow: 4px 3px 0px 0 #dad6d6;
}
.right-menu-item + .right-menu-item {
  margin-top: 15px;
}
.right-menu-head {
  padding: 10px 5px;
  border: 3px solid #f8b763;
  box-shadow: 4px 3px 0px 0 #f8b763;
  text-align: center;
}
.right-menu-link {
  display: block;
  color: black;
  padding: 5px;
}
.right-menu-link + .right-menu-link {
  border-top: 1px solid gray;
}

.menu-image-link {
  display: flex;
  width: 100%;
  margin-top: 10px;
}
.right-menu-image-link {
  width: 100px;
  overflow: hidden;
}
.image-link {
  width: 100%;
}
.image-description {
  padding-left: 15px;
}
.subscribe {
  width: 100%;
  margin-top: 15px;
  box-sizing: border-box;
  border: 1px solid gray;
  padding: 8px 5px;
}
.subscribe::placeholder {
}
