.page-header {
  width: 100%;
  /* height: 80px; */
  margin-bottom: 30px;
  padding: 20px 0;
  position: relative;
  top: 0;
  background-color: var(--background-color);
  font-family: sans-serif;
  box-shadow: 0 0 3px 2px grey;
}
.head-container {
  max-width: 1020px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  /* justify-items: end; */
}
.logo {
  /* vertical-align: middle; */
  user-select: none;
  flex-shrink: 0;
  /* justify-self: end; */
}
.logo > span {
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  color: white;
}

.logo > span:nth-child(2n) {
  background-color: var(--color-orange);
}

.logo > span:nth-child(2n + 1) {
  background-color: var(--color-red);
}
.navigation {
  flex-grow: 1;
  text-align: end;
}
.nav-list {
  text-align: end;
  padding-right: 50px;
}
.nav-list-item {
  display: inline-block;
  margin-right: 25px;
  /* font-size: 14px; */
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 14px;
  color: black;
}
.nav-link:hover {
  color: var(--color-orange);
  transition: 0.5s ease-in-out;
}

.head-search {
  width: 18%;
  /* justify-self: end; */
}
.head-search-form {
  position: relative;
}

.head-search-form .head-search-field {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding: 5px 40px 5px 15px;
  border: none;
  color: var(--main-gray-color);
  font-style: italic;
  font-size: 13px;
  background-color: var(--background-color);
}

.search-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  height: 30px;
  width: 30px;
  border: none;
  background-color: transparent;
  background-image: url("../icons/magnify.svg");
  background-size: cover;
  background-position: center;
}

.head-search-field:focus {
  border: 2px solid rgb(158, 156, 156);
  transition: 0.5s ease-in-out;
}
.hidden-menu {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 20px;
  background: #ef5a42;
  cursor: pointer;
}

.hidden-menu span{
  display: block;
  position: absolute;
  top: 19px;
  left: 8px;
  right: 8px;
  height: 2px;
  background: white;
}
.hidden-menu span::before,
.hidden-menu span::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
}
.hidden-menu span::before {
  top: -10px;
}

.hidden-menu span::after {
  top: 10px;
}
