@import "./header-styles.css";
@import "./main-content-styles.css";
@import "./aside-styles.css";
@import "./vars.css";

* {
  transition: 0.5s ease-in-out;
}
body {
  background-color: var(--background-color-gray);
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 23px;
  text-align: center;
  vertical-align: middle;
}

.page-footer {
  margin-top: 10px;
  background-color: var(--background-color-gray);
  color: var(--color-white);
  padding: 25px 0;
  line-height: 1.5;
  font-size: 14px;
}

.footer-container {
  display: flex;
  margin: 0 auto;
  width: 70%;
  justify-content: space-between;
}

.footer-container .footer-icon {
  color: var(--color-white);
  font-size: 22px;
}

.footer-container > * {
  margin-bottom: 20px;
}

.send-email * {
  color: inherit;
}

@media all and (max-width: 728px) {
  .head-container {
    flex-wrap: wrap;
    position: relative;
  }

  .navigation {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 65px;
    right: 0;
    left: 0;
    background-color: var(--color-white);
  }

  .nav-list {
    padding: 0;
  }

  .nav-list-item {
    display: block;
    padding: 15px 0;
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid var(--shadow-color-light-gray);
  }

  .active {
    max-height: 150px;
  }

  .head-search {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }

  .main-content {
    width: 100%;
  }

  .content-container {
    flex-direction: column;
  }

  .hidden-menu {
    display: block;
  }

  .right-side-menu {
    width: 100%;
  }
}

@media all and (max-width: 480px) {
  .logo {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  .navigation {
    top: 110px;
  }

  .head-search {
    width: 50%;
    justify-content: flex-start;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }
}

/* Page Widths
    320px.
    480px.
    600px.
    768px.
    900px.
    1024px.
    1200px. */
