@import "./header-styles.css";
@import "./main-styles.css";
@import "./aside-styles.css";
@import "./vars.css";


body {
  background-color: var(--background-color);
}

a {
  text-decoration: none;
}

.page-footer {
  background-color: #3c3d41;
  color: white;
  padding: 25px 0;
  line-height: 1.5;
  font-size: 20px;
}
.footer-container {
  display: flex;
  margin: 0 auto;
  width: 70%;
  justify-content: space-between;
}
.send-email * {
  color: inherit;
}

@media all and (max-width: 728px) {
  .right-side-menu {
    display: none;
  }
  .main-content {
    width: 100%;
    /* padding-right: 15px; */
  }
}
