@import "./header-styles.css";
@import "./main-content-styles.css";
@import "./aside-styles.css";
@import "./vars.css";

body {
  background-color: var(--background-color);
}

a {
  text-decoration: none;
}

.page-footer {
  margin-top: 10px;
  background-color: #3c3d41;
  color: white;
  padding: 25px 0;
  line-height: 1.5;
  font-size: 20px;
}
.footer-container {
  display: flex;
  margin: 0 auto;
  width: 70%;
  justify-content: space-between;
}
.send-email * {
  color: inherit;
}

@media all and (max-width: 728px) {
  .head-container {
    flex-wrap: wrap;
  }

  .navigation {
    display: none;
  }
  .head-search {
    /* width: 115px; */
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }
  .head-search-form {
  }
  .main-content {
    width: 100%;
    /* padding-right: 15px; */
  }
  .content-container {
    flex-direction: column;
  }
  .hidden-menu {
    display: block;
  }
  .right-side-menu {
    width: 100%;
  }
}
@media all and (max-width: 480px) {
  .logo {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
  .head-search {
    width: 50%;
justify-content: flex-start;  }
}
