:root {
  --color-orange: #f8b763;
  --color-red: #ef5a42;
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --background-color-white: rgb(247, 247, 247);
  --background-color-gray: rgb(60, 61, 65);
  --font-color-gray: rgb(98, 98, 98);
  --shadow-color-light-gray: rgb(218, 214, 214);
  --main-color-light-gray: rgba(160, 156, 156, 0.827);
}
